body {
  margin: 0;
  background-color: black;
  width: 428px;
  height: 926px;
}
/* Navbar */
.navbar-top {
  width: 428px;
  margin: auto;
  text-align: center;
}

.navbar-top .container .navbar-left {
  margin: 23px 0 0 28px;
  display: flex;
}
.arrow {
  padding: 7px 4px 7px 4px;
}
.notification {
  width: 17.84px;
  height: 19.53px;
  margin: auto !important;
  margin-left: 264px !important;
  float: right !important;
}
.avatar {
  width: 69px !important;
  margin: auto;
  margin-left: 16px !important;
  padding-right: 31px;
}
/* ====================== End Navbar ===================== */

.content {
  margin-top: 40px;
}

.container .content .title {
  color: #ffff;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 24px;
}
.container .content .desc {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 24px;
  margin-top: -15px;
  color: #ffffff;
}

.sub-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  margin-left: 24px;
  margin-top: 25px;
}
input {
  margin-left: 24px;
  width: 345px;
  height: 46px;
  background-color: black;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 5px;
  padding-left: 19px;
  font-size: 15px;
  color: white;
}
.btn-main {
  width: 145px;
  height: 34px;
  background: linear-gradient(180deg, #4f0000 -32.95%, #ff0000 102.59%);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  border-color: red !important;
  text-align: center;
  margin: auto;
  margin-top: 42px;
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
}

@media (min-width: 428px) {
  body {
    margin: auto;
    background-color: black;
    width: 428px;
    height: 926px;
  }
}
